.form-base {
    --input-padding: 3px 4px 4px 6px;
    --input-min-height: 13px;
    --border-color: rgb(200, 200, 200);

    overflow: auto;
    display: grid;
    border-top: 1px solid var(---color-border--base);
    border-left: 1px solid var(---color-border--base);
}

.form-item {
    position: relative;
    display: flex;
    border-collapse: collapse;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: var(---color-border--base);
}

.form-label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 100%;
    background-color: rgb(248, 248, 248);
    padding-right: 4px;
    border-right: 1px solid var(---color-border--base);
}

.form-element {
    position: relative;
    width: 100%;
    padding: 4px;
}

.form-element__input-text,
.form-element__input-password,
.form-element__input-number,
.form-element__textarea {
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}

input[type=text],
input[type=password],
input[type=number],
textarea {
    border-width: 0;
    font-size: 0.95rem;
    width: 100%;
    min-height: var(--input-min-height);
    padding: var(--input-padding);
}

input:focus {
    outline: 1px solid var(---color-selection--primary);
}

textarea:focus {
    outline: none;
    border: 1px solid var(---color-selection--primary);
}

.form-element__text-view {
    min-height: var(--input-min-height);
    padding: var(--input-padding);
    margin: 0;
}