.form-base {
    --input-padding: 3px 4px 2px 4px;
    --border-color: rgb(200, 200, 200);
    --label-bg-color: rgb(248, 248, 248);
    --label-display: flex;

    overflow: auto;
    display: grid;
    border-top: 1px solid var(---color-border--base);
    border-left: 1px solid var(---color-border--base);
}

.form-item {
    position: relative;
    display: flex;
    min-height: 28px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: var(---color-border--base);
}

.form-item-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.form-item-content > .form-element {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3px;
}

.form-item-content > .form-element .readonly {
    pointer-events: none;
}

.form-item-content > .form-element .disabled {
    background-color: rgb(250, 250, 250);
    color: rgba(40, 40, 40);
    pointer-events: none;
}

.form-item.invalid > .form-item-content > .form-element {
    border: 1px solid rgb(246, 94, 100);
}

.form-element__multiple-wrap {
    position: relative;
    display: grid;
    width: 100%;
}

.form-element__multiple-wrap > .form-item {
    border: 0;
}

.form-element:has(.form-element__multiple-wrap) {
    padding: 0;
}

.form-item-message {
    padding: 1px 4px;
    font-size: 0.85rem;
    color: rgb(246, 94, 100);
}

.form-item-single {
    position: relative;
    display: flex;
    min-height: 28px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: var(---color-border--base);
}

.form-item-single > .form-element {
    position: relative;
    width: 100%;
    height: 100%;
}

.form-label {
    position: relative;
    display: var(--label-display);
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 140px;
    background-color: var(--label-bg-color);
    padding: 0 8px 0 4px;
    border-right: 1px solid var(---color-border--base);
    overflow: hidden;
    cursor: default;
}

.form-element__multiple-wrap .form-label {
    display: none;
    width: 100px;
}

input[type=text],
input[type=password],
input[type=number],
textarea {
    width: 100%;
}

input[type=date],
input[type=text],
input[type=password],
input[type=number],
textarea {
    position: relative;
    border: 1px solid var(--border-color);
    padding: var(--input-padding);
}

.simple-datepicker-container > input {
    border: 0;
    padding: 0;
    top: 1px;
    left: 1px;
}

/*input:focus {*/
/*    border: 1px solid var(---color-selection--primary);*/
/*}*/

/*textarea:focus {*/
/*    border: 1px solid var(---color-selection--primary);*/
/*}*/

input[type=button] {
    position: relative;
    min-width: 20px;
    min-height: 18px;
    margin-right: 4px;
    background-color: var(---color-button-primary);
    color: #fff;
    border: 1px solid var(---color-border--base);
    border-radius: 2px;
    padding: 3px 8px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: var(---color-button-primary--hover) !important;
}

input[type=button]:active {
    background-color: var(---color-button-primary--active) !important;
}

input[type=file] {
    position: relative;
    width: 160px;
}

input::file-selector-button {
    background-color: #fff;
    border: 1px solid var(---color-border--base);
    border-radius: 2px;
    font-weight: 400;
    padding: 3px 7px;
    cursor: pointer;
}

input::file-selector-button:hover,
input[type=button]:hover {
    background-color: rgb(242, 242, 242)
}

input::file-selector-button:active,
input[type=button]:active {
    background-color: rgb(236, 236, 236)
}

select {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid var(---color-border--base);
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 15px;
    min-width: 15px;
    height: 15px;
    min-height: 15px;
    background: #fff;
    border: 1px solid var(---color-border--base);
    border-radius: 2px;
}

input[type="checkbox"]:checked {
    background: rgb(59, 130, 246);
}

input[type="checkbox"]::after {
    position: relative;
    display: none;
    content: "";
    width: 25%;
    height: 50%;
    top: 1px;
    left: 4px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

input[type="checkbox"]:checked::after {
    display: block
}

.form-element__radio-wrap,
.form-element__checkbox-wrap {
    position: relative;
    display: flex;
    gap: 3px;
    margin: 2px 1px 2px 1px;
    white-space: nowrap;
}

.form-element__radio-group,
.form-element__checkbox-group {
    position: relative;
    display: grid;
    width: 100%;
}

.form-element__label {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--label-bg-color);
    border: 0;
}

.form-element__blank {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
}

.form-element__text-view {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--input-padding);
    margin: 0;
}