* {
    color: rgb(40,40,40);
    font-size: 13px;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}