* {
    color: rgb(40,40,40);
    font-size: 13px;
    font-weight: 400;
    font-family: sans-serif, Arial, system-ui;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}

.hide {
    display: none !important;
}

.simple-datepicker-calendar {
    border: 1px solid rgb(200, 200, 200) !important;
}

.simple-datepicker-container {
    width: 100% !important;
    border-color: rgb(200, 200, 200) !important;
}