body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    cursor: default;
}

input[type=radio],
input[type=checkbox] {
    margin: 0;
}

input[type=checkbox],
input[type=text]:not(.simple-datepicker-input),
input[type=password],
input[type=number],
input[type=date],
textarea,
select,
button {
    background-color: transparent;
}

button {
    border: 0;
    cursor: pointer;
}

input[type=checkbox]:focus,
input[type=button]:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}
