.simple-datepicker {
    --base-color: rgb(170, 170, 170);

    box-sizing: border-box;
    position: relative;
    height: 24px;
    width: 120px;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding: 5px 27px 5px 10px;
    font-size: 12px;
}

.simple-datepicker-input {
    position: relative;
    width: 100%;
    height: 100%;
    letter-spacing: 0.04rem;
    cursor: default;
}

.simple-datepicker-input:focus {
    outline: none;
    border: 0;
}


/* calendar */

.simple-datepicker-calendar {
    --cell-color: rgb(100, 100, 100);
    --selected-cell-bg-color: rgb(75, 150, 230);

    position: absolute;
    display: block;
    background-color: #fff;
    border: 1px solid rgb(170, 170, 170);
    z-index: 2000000000;
}

.simple-datepicker-calendar * {
    box-sizing: border-box;
    font-size: 12px;
}

.simple-datepicker-calendar__header {
    position: relative;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.simple-datepicker-calendar__header-interaction {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.simple-datepicker-calendar__header-interaction__title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgb(50, 50, 50);
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
}

.simple-datepicker-calendar__header-interaction__button {
    appearance: none;
    position: relative;
    display: block;
    width: 32px;
    height: 50px;
    cursor: pointer;
}

.simple-datepicker-calendar__header-interaction__button:after {
    position: absolute;
    display: block;
    content: '';
    width: 7px;
    height: 7px;
    border-width: 2px 0 0 2px;
    border-color: rgb(140, 140, 140);
    border-style: solid;
    top: 21px;
}

.simple-datepicker-calendar__header-interaction__button.prev:after {
    left: 50%;
    transform: rotate(-45deg);
}

.simple-datepicker-calendar__header-interaction__button.next:after {
    right: 50%;
    transform: rotate(135deg);
}

.simple-datepicker-calendar__header-divider {
    width: 100%;
    height: 30px;
    background-color: rgb(245, 245, 245);
}

.simple-datepicker-calendar__body {
    position: relative;
    width: 100%;
}

.simple-datepicker-calendar__body table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.simple-datepicker-calendar__body__day-of-week {
    height: 40px;
    color: rgb(120, 120, 120);
    text-align: center;
    font-weight: 400;
    cursor: default;
}

.simple-datepicker-calendar__body__date {
    height: 40px;
    color: var(--cell-color);
    cursor: pointer;
}

.simple-datepicker-calendar__body__date.sun {
    color: rgb(250, 120, 120);
}

.simple-datepicker-calendar__body__date.sat {
    color: rgb(120, 120, 250);
}

.simple-datepicker-calendar__body__month,
.simple-datepicker-calendar__body__year {
    height: 70px;
    color: var(--cell-color);
    cursor: pointer;
}

.simple-datepicker-calendar__body__date:not(.selected):hover,
.simple-datepicker-calendar__body__month:not(.selected):hover,
.simple-datepicker-calendar__body__year:not(.selected):hover {
    background-color: rgb(235, 245, 250);
}

.simple-datepicker-calendar__body__date.selected,
.simple-datepicker-calendar__body__month.selected,
.simple-datepicker-calendar__body__year.selected {
    background-color: var(--selected-cell-bg-color);
    color: #fff;
}