/**
 * author: 정언구
 * created: 2025. 12. 04
 */

/** basic **/

.simple-datepicker-container {
    --base-color: rgb(170, 170, 170);
    --disabled-color: rgba(245, 245, 245, 0.5);

    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    width: 100px;
    height: 24px;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding: 0 20px 0 3px;
    font-family: sans-serif, Arial, system-ui;
    font-weight: 400;
}

.simple-datepicker-container.disabled {
    pointer-events: none;
    background-color: var(--disabled-color);
}

.simple-datepicker-container.disabled .simple-datepicker-input  {
    pointer-events: none;
    background-color: var(--disabled-color);
}

.simple-datepicker-container.readonly {
    pointer-events: none;
    background-color: var(--disabled-color);
}

.simple-datepicker-container.readonly .simple-datepicker-input  {
    pointer-events: none;
    background-color: var(--disabled-color);
}

.simple-datepicker-container * {
    font-size: 12px;
}

.simple-datepicker-input {
    position: relative;
    width: 100%;
    border: 0;
    letter-spacing: 0.04rem;
    cursor: default;
}

.simple-datepicker-input:focus {
    outline: none;
    border: 0;
}


/** range **/

.simple-range-datepicker-container {
    position: relative;
    display: flex;
    gap: 12px;
}

.simple-range-datepicker-container.disabled {
    pointer-events: none;
}

.simple-range-datepicker-container.readonly {
    pointer-events: none;
}

.simple-range-datepicker-container:after {
    position: absolute;
    content: '~';
    left: 102px;
    top: 20%;
}


/** calendar **/

.simple-datepicker-calendar {
    --cell-color: rgb(110, 110, 110);
    --day-of-week-cell-color: rgb(130, 130, 130);
    --selected-cell-bg-color: rgb(75, 150, 230);
    --cell-hover-bg-color:  rgb(235, 245, 250);

    position: absolute;
    display: block;
    background-color: #fff;
    border: 1px solid rgb(170, 170, 170);
    font-size: 12px;
    font-family: sans-serif, Arial, system-ui;
    font-weight: 400;
    z-index: 2000000000;
}

.simple-datepicker-calendar * {
    box-sizing: border-box;
    font-size: 12px;
}

.simple-datepicker-calendar__header {
    position: relative;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.simple-datepicker-calendar__header-interaction {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.simple-datepicker-calendar__header-interaction__title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgb(50, 50, 50);
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
}

.simple-datepicker-calendar__header-interaction__button {
    appearance: none;
    position: relative;
    display: block;
    width: 32px;
    height: 50px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.simple-datepicker-calendar__header-interaction__button:after {
    position: absolute;
    display: block;
    content: '';
    width: 7px;
    height: 7px;
    border-width: 1px 0 0 1px;
    border-color: rgb(140, 140, 140);
    border-style: solid;
    top: 21px;
}

.simple-datepicker-calendar__header-interaction__button.prev:after {
    left: 50%;
    transform: rotate(-45deg);
}

.simple-datepicker-calendar__header-interaction__button.next:after {
    right: 50%;
    transform: rotate(135deg);
}

.simple-datepicker-calendar__header-info {
    position: relative;
    display: flex;
    width: 100%;
    height: 30px;
    background-color: rgb(245, 245, 245);
}

.simple-datepicker-calendar__header-info__button {
    appearance: none;
    position: relative;
    width: 50%;
    height: 30px;
    color: var(--cell-color);
    border: 0;
    cursor: pointer;
}

.simple-datepicker-calendar__header-info__button.empty {
    pointer-events: none;
}

.simple-datepicker-calendar__header-info__button:hover {
    background-color: var(--cell-hover-bg-color);
}

.simple-datepicker-calendar__header-info__button.prev {
    border-color: rgb(230, 230, 230);
    border-width: 0 1px 0 0;
    border-style: solid;
}

.simple-datepicker-calendar__header-info__button.prev.empty {
    border-width: 0 0 0 0;
}

.simple-datepicker-calendar__body {
    position: relative;
    width: 100%;
}

.simple-datepicker-calendar__body table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.simple-datepicker-calendar__body__day-of-week {
    height: 40px;
    color: var(--day-of-week-cell-color);
    text-align: center;
    font-weight: 400;
    cursor: default;
}

.simple-datepicker-calendar__body__date {
    height: 40px;
    color: var(--cell-color);
    cursor: pointer;
}

.simple-datepicker-calendar__body__date.sun {
    color: rgb(250, 120, 120);
}

.simple-datepicker-calendar__body__date.sat {
    color: rgb(120, 120, 250);
}

.simple-datepicker-calendar__body__month,
.simple-datepicker-calendar__body__year {
    height: 70px;
    color: var(--cell-color);
    cursor: pointer;
}

.simple-datepicker-calendar__body__year.disabled,
.simple-datepicker-calendar__body__month.disabled,
.simple-datepicker-calendar__body__date.disabled {
    color: rgb(220, 220, 220);
    cursor: default;
    pointer-events: none;
}

.simple-datepicker-calendar__body__date:not(.selected):hover,
.simple-datepicker-calendar__body__month:not(.selected):hover,
.simple-datepicker-calendar__body__year:not(.selected):hover {
    background-color: var(--cell-hover-bg-color);
}

.simple-datepicker-calendar__body__date.selected,
.simple-datepicker-calendar__body__month.selected,
.simple-datepicker-calendar__body__year.selected {
    background-color: var(--selected-cell-bg-color);
    color: #fff;
}

.form-element__datepicker,
.form-element__datepicker-range {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}